header.jumbotron {
    background-color: #2A2280;
    color: white;
    text-align: center;
  }
  
  header.jumbotron a, header.jumbotron a:hover {
    color: white;
    text-align: center;
  }
  
  .nav {
    margin-bottom: 2em; 
    padding: 1em;  
  }
  
  nav h2 {
    font-size: 1.25rem;
    text-align: center;
  }
  
  .card-deck .card {
    flex-basis: 200px;
    margin-bottom: 30px;
  }
  
  .activeLink {
    background-color:#DEE2AE;
    padding: .25em 1em;
    border: 1px solid #ddd;
  }
  
  footer {
    text-align: center;
  }